extends layout.pug
include utils.pug
block content
  div(class='topc_container')
    head
    body
  div(class='allcs')
    each c in categoryQuestions
        div(class='spacing' id=`category-container-${c.id}`).single-category-container
            a(class='homeName' href=`/categorys/${c.id}`) #{c.name}
