extends layout.pug
include utils.pug
block content
  div(class='topc_container')
    head
    body
      div(id="categories-containers").categories-container
        div(id='h1_container')
          h1(id="categoryH1") category
        div(class='allcs')
          each c in categories
            div(class='spacing' id=`category-container-${c.id}`).single-category-container
              a(class='homeNames' href=`/categories/${c.id}`) #{c.name}
