extends layout.pug
include utils.pug
block content
  div(class='topc_container')
    head
      link(rel='stylesheet' href='/stylesheets/gamescontainer.css')
    body
    div(id='h1_container')
          h1(id="categoryH1") Games

    div(id='games_container')
      div(id='tft' class='game_container')
        a(href='/categories/1')
          img(src='../images/Teamfight-Tactics-1.jpg' style='width:240px; height:180px;')
      div(id='league' class='game_container')
        a(href='/categories/2')
          img(src='../images/League-of-Legends-2022.jpg' style='width:240px; height:180px;')
      div(id='valorant' class='game_container')
        a(href='/categories/3')
          img(src='../images/IMAGE_4.jpg' style='width:240px; height:180px;')
      div(id='Hk' class='game_container')
        a(href='/categories/4')
          img(src='../images/capsule_616x353.jpg' style='width:240px; height:180px;')
      div(id='Pokemon' class='game_container')
        a(href='/categories/5')
          img(src='../images/pokemon.jpg' style='width:240px; height:180px;')
      div(id='tcg' class='game_container')
        a(href='/categories/6')
          img(src='../images/tcg.jpg' style='width:240px; height:180px;')
