head
    link(rel="stylesheet" href="/stylesheets/footer.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
body
    footer.footer-container
        div.footer-title
            ul.footer-list-container
                li.footer-matty
                    div.matty-name-div Matty Dickerson
                    div.footer-icon-container
                        a(class="matty-github" href="https://github.com/MonkeyToji") <i class="fa-brands fa-github-square"></i>
                li.footer-jack
                    div.jack-name-div Jack Tran
                    div.footer-icon-container
                        a(class="jack-github" href="https://github.com/jackmtran") <i class="fa-brands fa-github-square"></i>
                li.footer-christian
                    div.christian-name-div Christian Alcantara
                    div.footer-icon-container
                        a(class="christian-github" href="https://github.com/Christian-AC") <i class="fa-brands fa-github-square"></i>
                li.footer-rouben
                    div.rouben-name-div Rouben Ghambaryan
                    div.footer-icon-container
                        a(class="rouben-github" href="https://github.com/RoubenGh") <i class="fa-brands fa-github-square"></i>
