extends layout.pug
include utils.pug
block content
  head
    link(rel='stylesheet' href='/stylesheets/home.css')
  body
  div(class='home-container')
    table
      h2(class="usernameqs")=`${user.username}'s Questions`
      each q in question
        div(class='eachq')
          div(id=`question-container-${question.id}`).single-question-container
            a(class='questiontitle' id=`${q.id}-title` href=`/questions/${q.id}`)= q.title
          div(class='questionz')
            p(id=`${q.id}-content`)= q.question
