extends layout.pug
include utils.pug
block content
  div
    table
      thead
      tbody
      each q in question
        div(id=`question-container-${question.id}`).single-question-container
          h1(id=`${q.id}-title`)= q.title
          h2 Question:
          p(id=`${q.id}-content`)= q.question
            if loggedInUser === question.userId
              button(class='delete-btn' id=`delete-question-${question.id}`) Delete
