doctype html
html
  head
    block head
      title MetaOverFlow
      link(rel='stylesheet' href='/stylesheets/layout.css')
      script(src='../javascripts/questionDelete.js' type="module")
  body
    nav(class='navbar')
      a(class='navbar_icon' href='/')
        img(id='logo' src="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_auto/c_scale,w_400/v1/ncom/en_US/games/switch/h/hollow-knight-switch/description-image")
      div(class='navbar_center')
      div
        if locals.authenticated
          p Welcome to MetaOverflow
            form(action=`/users/${user.id}` method='get')
              button(type='submit') Home
            form(action='/questions/new' method='get')
              button(type='submit') Ask Question
            form(action='/users/logout' method='post')
              button(type='submit') Logout
        else
          div
            a(href='/users/login') Login
            a(href='/users/signup') Sign Up

            if locals.authenticated
              a(href='/questions/new' method='GET'): button.ask-button Ask Question
            else
              a(href='/users/login' method='GET' id='logged-out-ask-btn'): button.ask-button Ask Question
          .right-sidebar-header
    block content
include footer.pug
