extends layout.pug
include utils.pug
block content
  table(class='table')
    thead(class='thead')
        tr
          th(class='title') Title
            //- th questions
          th Total Votes
    tbody(class='tbody')
      each q in questions
        tr(class='tr')
          td(class='td_questions')
            a(href=`/questions/${q.id}`) #{q.title}
          td(class='td_votes')= q.voteCount
            //- td #{q.question}
