extends layout.pug
include utils.pug
  head
    link(rel='stylesheet' href='/stylesheets/reset.css')
    script(type="module" src="../javascripts/postDelete.js")
  body
block content
  table
      thead
          tr
              th title
              th questions
              th Total Votes

      tbody
          each q in questions

              tr
                  td= q.title
                  td= q.question
                  td= q.voteCount
                    form(action='/edit' method='delete')
                        button(type='submit') delete
                    //- button(class='delete-btn' id=`delete-post-${q.id}`) Delete
                    //- form(action='/questions' method='put')
                    //-     button(type='submit') edit
