extends layout.pug
include utils.pug
block content
  table
    thead
        tr
            th title
            th questions
            th Total Votes
    tbody
        each q in questions
            tr
                td= q.title
                td= q.question
                td= q.voteCount

