extends layout.pug
include utils.pug
block content
  div(class='topq_container')
    head
    body
      div(id="questions-containers").questions-container
        div(id='h1_container')
          h1(id="questionH1") Question
        div(class='allqs')
          each q in questions
            div(class='spacing' id=`question-container-${q.id}`).single-question-container
              a(class='homeTitles' href=`/questions/${q.id}`) #{q.title}
