extends layout.pug
include utils.pug

  head
    link(rel='stylesheet' href='/stylesheets/sign-up.css')
  body
block content
  div(class='signup-container')
    div(class='name-signup')
      p(id='meta_flow2') MetaOverflow
        +validationErrorSummary(errors)
        form(action='/users/signup' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          div(class='input_fieldz')
            div(id='user-name')
              +field('Username ', 'username', user.username)
            div(id='email_addy')
              +field('Email Address ', 'email', user.email)
            div(id='password')
              +field('Password ', 'password', user.hashedPassword, 'password')
            div(id='confirm-password')
              +field('Confirm Password ', 'confirmPassword', '', 'password')
            div(class='buttonz')
              button(class='button' type='submit' class='btn btn-primary') Register
        div
          p: a(id='ahac' href='/users/login') Already have an account?
