extends layout.pug
include utils.pug

  head
    link(rel='stylesheet' href='/stylesheets/login.css')
    script(type="module" src="../javascripts/demo.js")
  body
block content
  div(class='login_container')
    div(id='name-login')
      p(id='meta_flow') MetaOverflow
      +validationErrorSummary(errors)
      form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(id='user-name')
          +field('Username ', 'username', username)
          +field('Password ', 'password', null, 'password')
        div(class='buttonz')
          button(class='button' type='submit' id='login') Login
          button(type='submit' class="button" id='demo') Demo User
        div
        p: a(id='dhac' href='/users/signup') Don't have an account?
