

include utils.pug

html
  head
    link(rel='stylesheet' href='/stylesheets/reset.css')
    script(type="module" src="../javascripts/demoLogin.js")
  body

    block content
      +validationErrorSummary(errors)
      form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'username', username)
        +field('Password', 'password', null, 'password')
        div
          button(type='submit' id='login') Login
        div
        div
            a(href='/') Cancel
        div
        div
        button(type='submit' class="loginButtons" id='demo') Demo
        div
        p: a(href='/register') Don't have an account?
