.footer-container {
    width: 99vw;
    background-color: rgb(0, 128, 160);
    color: black;
    border-top: 1px solid rgb(62, 61, 61);
    border-bottom: 3px solid #28477d;
}

.footer-list-container {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.matty-github,
.jack-github,
.christian-github,
.rouben-github {
    padding-top: 0.5rem;
    padding: 1rem;
}

.footer-matty,
.footer-jack,
.footer-christian,
.footer-rouben {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
