/* make the container into a vertical column on the left side of the screen */
.home-container {
    border: 3px solid black;
    padding: 3rem;
    background-color: #f8f9f9;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 70px;
    max-width: max-content;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.usernameqs {
    background-color: #f8f9f9;
    font-style: bold;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

a {
    font-style: bold;
    font-weight: bold;
    font-size: large;
    padding-left: 0;
}
.single-question-container {
    padding: 2rem
}

.questionz {
    margin-top: 1rem;
    background-color: #f8f9f9;
}

.eachq {
    border: 3px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    background-color: #f8f9f9;
}

#question-container-undefined {
    padding-left: 0;
    padding-top: 0;
}
