body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #F8F9F9;
}

* {
	box-sizing: border-box;
	background-color:#e6e4e4;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
	font-size: 1rem;
	color: inherit;
	background-color: transparent;
	margin: 0 0 0 0;
	padding: 0;
	outline: 0;
	font-weight: normal;
}

h1 {
	font-size: 2rem;
}

.navbar {
	background-color:#F8F9F9;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: 'left center right';
	position:static;
	width: auto;
	height:65px;
    border-top: 3px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: block;
}

/* .navbar_icon {
	grid-area: left;
} */

.nav_button {
position:absolute;
}

.navbar_center {
	width: 500px;
}

#logo {
	width: 27px;
	align-self: center;
}

a#logged-out-ask-btn {
	justify-content: flex-start;
}
