body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #f8f9f9;
}

* {
	box-sizing: border-box;
	background-color: #c3c3c3;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
	font-size: 1rem;
	color: inherit;
	background-color: transparent;
	margin: 0 0 0 0;
	padding: 0;
	outline: 0;
	font-weight: normal;
}

h1 {
	font-size: 2rem;
}

.navbar_icon {
	width: 2rem;
	height: 25%;
}
.navbar {
	position: sticky;
	margin-bottom: 15px;
	width: 100%;
	height: 50px;
	display: inline-flex;
	justify-content: space-between;
	background-color: #f8f9f9;
	border-top: 3px solid lightgray;
	border-bottom: 1px solid lightgray;
	text-decoration:none;
}

.nav_left{
	width: 100%;
	text-decoration:none;
}

.nav_right {
	display: flex;
	justify-content: row;
	justify-content: space-around;
	align-items: center;
	text-decoration:none;
}

.navbar_icon {
	display: inline-flex;
}

.navbar_right {
	min-width:400px;
	display:flex;
	justify-content: center;
	align-items: center;
	grid-area: center;
	text-decoration:none;
}

.home_ask {
	margin-left: 2rem;
}

.home {
	margin-right: 1rem;
}
.ask {
	margin-right: 1rem;
}

.topq_container {
	display: flex;
	justify-content: center;
}

.homeTitles {
	width: 50%;
	height: 25%;
	display: inline-flex;
	margin-right: 2rem;
	text-decoration: none;
}

#h1_container {
	display: flex;
	justify-content: center;
}

#questionH1 {
	display: flex;
	/* justify-content: flex-start; */
	align-items: flex-start;
	height: 20px;
	margin-right: 19rem;
}

.homeVotes {
	width: 25%;
	height: 25%;
	display: inline-flex;
	margin-left: 5rem;
	justify-content: flex-end;
}

.spacing {
	padding: 2rem;
	border: 3px solid white;
	margin: 2rem;
	border-radius: 8px;
	/* border-top: transparent;
	border-right: transparent;
	border-bottom: transparent; */
}

.button {
    border-radius: 8px;
    background-color: white; color: black;
}

.login {
	margin-right: .5rem;
}


#logo {
	width: 30px;
	align-self: center;
	margin-top: 1.5rem;
	margin-right: .5rem;
}

a#logged-out-ask-btn {
	justify-content: flex-start;
}

#welcome {
	margin-top: .5rem;
    font-size: x-large;
}

.allqs {
	margin-bottom: 75px;
}
