.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.name-signup {
    border: 3px solid black;
    padding: 2rem;
    background-color: #f8f9f9;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgb(0, 0, 0);
}

#meta_flow2 {
    background-color: #f8f9f9;
    font-style: bold;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

#user-name {
    margin-top: 1rem;
    background-color: #f8f9f9;
    padding-bottom: .5rem;
}

#email_addy {
    margin-top: 1rem;
    background-color: #f8f9f9;
    padding-bottom: 1rem;
}

#password {
    background-color: #f8f9f9;
    margin-bottom: .5rem;
}

#confirm-password {
    background-color: #f8f9f9;
    margin-bottom: 1rem;
}

.button {
    border-radius: 8px;
    background-color: white; color: black;
}

.buttonz {
    display: flex;
    justify-content: space-around;
}

#ahac {
    display: flex;
    justify-content: center;
    background-color: #f8f9f9
}

#username.form-control {
    background-color: #f8f9f9;
}

#email {
    background-color: #f8f9f9;
}

#confirmPassword.form-control {
    background-color: #f8f9f9;

}

label {
    background-color: #f8f9f9;
    margin-right: 2rem;
}

form {
    background-color: #f8f9f9;
}

.form-group {
    max-width: fit-content;
}

li {
    max-width: fit-content;
}

p {
    background-color: #f8f9f9;
}
